.michigan{
   position: absolute; 
   top: 120px; 
   left: 140px; 
   width: 100%;

}


.florida{
   position: absolute; 
   top: 360px; 
   left: 230px; 
   width: 100%;

}

.ohio{
   position: absolute; 
   top: 180px; 
   left: 150px; 
   width: 100%;

}

.texas{
   position: absolute; 
   top: 380px; 
   left: -40px; 
   width: 100%;

}

.california{
   position: absolute; 
   top: 300px; 
   left: -350px; 
   width: 100%;

}

.pennsylvania{
	position: absolute;
	top: 140px;
	left:430px;
}


.map-marker {
    color: #eee;
}

.map{
	font-size:11px;
	font-family: Corbel;
}

.image{
	position: relative; 
   	width: 100%;
}

i.tip {
  position: absolute;
  text-decoration: none;
}

i.tip:hover:before {
  display: block;
  position: absolute;
  padding: .5em;
  content: attr(title);
  min-width: 120px;
  text-align: center;
  width: auto;
  height: auto;
  white-space: nowrap;
  top: -32px;
  background: rgba(0,0,0,.8);
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;

  color: #fff;
  font-size: .86em;
  opacity: 1;
}
i.tip:hover:after {
  position: absolute;
  display: block;
  content: “”;

  border-color: rgba(0,0,0,.8) transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top: -8px;
  left:1em;
  opacity: .7;
}